<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th appResaltado mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>
  
    <!-- courseName Column -->
    <ng-container matColumnDef="courseName">
      <th appResaltado mat-header-cell *matHeaderCellDef> nombre </th>
      <td mat-cell *matCellDef="let element"> {{ element.courseName }} </td>
    </ng-container>

    <!-- fechaInicio Column -->
    <ng-container matColumnDef="startDate">
        <th appResaltado mat-header-cell *matHeaderCellDef> fecha inicio </th>
        <td mat-cell *matCellDef="let element"> {{ element.startDate | date: 'dd/mm/yyyy' }} </td>
        </ng-container>
  
    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th appResaltado mat-header-cell *matHeaderCellDef> acciones </th>
      <td mat-cell *matCellDef="let element">
          <!-- <button [routerLink]="element.id" routerLinkActive="router-link-active"  color="accent" mat-icon-button> -->
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
          <!-- <button (click)="onUserDeleted(element)" mat-icon-button color="warn"> -->
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
