<mat-form-field>
    <mat-label>nombre</mat-label>
    <input matInput type="text">
</mat-form-field>

<mat-form-field>
    <mat-label>apellido</mat-label>
    <input matInput type="text">
</mat-form-field>

<mat-form-field>
    <mat-label>email</mat-label>
    <input matInput type="email">
</mat-form-field>

<mat-form-field>
    <mat-label>password</mat-label>
    <input matInput type="password">
</mat-form-field>

<mat-form-field>
    <mat-label>role</mat-label>
    <mat-select>
          <mat-option value="admin">admin</mat-option>
          <mat-option value="user">user</mat-option>
      </mat-select>
</mat-form-field>