<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="dashboard-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="dashboard-sidenav-content">
        <!-- toolbar en el contenido del dashboard (start)-->
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
        <!-- toolbar en el contenido del dashboard (end)-->

        <!-- agrego un padding de la libreria primeflex -->
        <div class="p-3">
            <!-- <app-users></app-users> -->
            <!-- <app-students></app-students> -->
            <app-courses></app-courses>
        </div>

    </div>

</mat-drawer-container>