<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="dashboard-side" mode="side">
        <mat-nav-list>
            <a #homeLink="routerLinkActive" 
                routerLinkActive 
                [activated]="homeLink.isActive" 
                routerLink="home"
                mat-list-item>Inicio</a>
            <a #usersLink="routerLinkActive" 
                routerLinkActive 
                [activated]="usersLink.isActive" 
                routerLink="users"
                mat-list-item>Usuarios</a>
            <a #studentsLink="routerLinkActive"
                routerLinkActive
                [activated]="studentsLink.isActive"
                routerLink="students" 
                mat-list-item>Estudiantes</a>
            <a #coursesLink="routerLinkActive"
                routerLinkActive
                [activated]="coursesLink.isActive"
                routerLink="courses" 
                mat-list-item>Cursos</a>
            <a (click)="logOut()" 
                mat-list-item>Cerrar sesion</a>
        </mat-nav-list>
    </mat-drawer>

    <div class="dashboard-sidenav-content">
        <!-- toolbar en el contenido del dashboard (start)-->
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>

            {{ today | date: 'short'}}

        </mat-toolbar>
        <!-- toolbar en el contenido del dashboard (end)-->

        <!-- agrego un padding de la libreria primeflex -->
        <div class="p-3">
            <router-outlet></router-outlet>
        </div>

    </div>

</mat-drawer-container>